include ./../blocks/AwesomeSection

+AwesomeSection(
'about_section',
'Расскажите о себе словами',
'Напишите пару предложений, чем вас привлекла наша вакансия '
+ 'и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, '
+ 'если при нехватке места для текста строки будут добавляться автоматически.'
)
    div(contenteditable).about-text-input
        |&nbsp;&nbsp;Вакансия привлекла самыми обычными вещами: стек технологий, ваши гарантии, с виду основательный подход к задачам.<br><br>
        |&nbsp;&nbsp;Ожидаю от работы в CSSSR вот таких же классных штук, как это тестовое: оно открыло мне глаза на то, как можно делать UI/UX; мне было действительно интересно и приятно делать это ТЗ.<br><br>
        |&nbsp;&nbsp;Ожидаю профессионального роста, хороших денюшек, добрую команду верстальщиков :)