include ./../blocks/AwesomeField
include ./../blocks/AwesomeSection

+AwesomeSection('user_credentials')
    +AwesomeField('fio_field', 'Полное ФИО', 'Гончаров Андрей Игоревич')
    +AwesomeField('birth_year_field', 'Год рождения', '1997')
    +AwesomeField('hometown_field', 'Место жительства', 'г. Ульяновск, Россия')
    +AwesomeField('skype_field', 'Скайп', 'TODO: зарегать скайп')
    +AwesomeField('email_field', 'Почта', 'kugi@kugi.club')